In [1]:
import re
import os
import json
import pandas as pd

In [2]:
with open(os.path.join("data_fixes", "opravy.json"), encoding="utf-8") as opravy:
    opravy = json.loads(opravy.read())

In [3]:
persony = pd.read_json(os.path.join("data", "persony_raw.json"))

In [4]:
persony

,Jméno,Id,Medailon,Osoba,Alternativní jména,Životopis,Datum narození,Místo narození,Datum úmrtí,Místo úmrtí,Zasloužilý umělec,Národní umělec
0,Ondřej Mašek (1000),1000,,fyzická,None,None,None,None,None,None,NaN,NaN
1,kino Světozor (100019),100019,None,právnická,None,None,None,None,None,None,NaN,NaN
2,"AD WOOD, s.r.o. (100038)",100038,None,právnická,None,None,None,None,None,None,NaN,NaN
3,Hypermarket Film s.r.o. (100039),100039,None,právnická,Hypermarket Film,None,None,None,None,None,NaN,NaN
4,Hypermarket Film s.r.o. (100039),100039,None,právnická,Hypermarket Film,None,None,None,None,None,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
35810,Josef Dvořák (9998),9998,"herec, divadelní podnikatel",fyzická,Josef Voloďa Dvořák (rodné jméno),None,25.04.1942,"Horní Cerekev, Československo",None,None,NaN,NaN
35811,Antonín Dimitrov (99996),99996,"výtvarník, grafik, scénograf, designér",fyzická,None,None,27.02.1928,"Mšecké Žehrovice, Československo",27.12.2014,"Bobcaygeon, Kanada",NaN,NaN
35812,Čechomor (person),person,None,právnická,None,None,None,None,None,None,NaN,NaN
35813,Kevin Mc Kidd (person),person,,fyzická,None,None,None,None,None,None,NaN,NaN
35814,Rostislav Novák st. (person),person,herec,fyzická,"Rosťa Novák, Rosťa Novák st.",None,25.11.1948,"Praha, Československo",None,None,NaN,NaN

In [5]:
def odnebovat(x):
    if x:
        if "nebo" in x:
            x = x.split("nebo")[1].strip()
    return x

In [6]:
def rozdel_misto(x):
    if type(x) == str:
        try:
            mesto = x.split(",")[0]
            stat = x.split(",")[1]
        except:
            mesto = None
            stat = x
    else:
        mesto = None
        stat = None
    return [mesto, stat]

## Doplnění dat z Wikidat

In [7]:
persony[persony["Jméno"] == "Stanislav Litera (35280)"].sample(1)

,Jméno,Id,Medailon,Osoba,Alternativní jména,Životopis,Datum narození,Místo narození,Datum úmrtí,Místo úmrtí,Zasloužilý umělec,Národní umělec
18963,Stanislav Litera (35280),35280,,fyzická,None,None,None,None,None,None,NaN,NaN

In [8]:
with open(os.path.join("data_fixes", "data_z_wikidat.json"), encoding="utf-8") as data_z_wikidat:
    data_z_wikidat = json.loads(data_z_wikidat.read())

In [9]:
for key, val in data_z_wikidat.items():
    persony.loc[persony["Jméno"] == key, "Datum narození"] = val[0]

In [10]:
for key, val in data_z_wikidat.items():
    persony.loc[persony["Jméno"] == key, "Datum úmrtí"] = val[1]

In [11]:
persony[persony["Jméno"] == "Stanislav Litera (35280)"].sample(1)

,Jméno,Id,Medailon,Osoba,Alternativní jména,Životopis,Datum narození,Místo narození,Datum úmrtí,Místo úmrtí,Zasloužilý umělec,Národní umělec
18963,Stanislav Litera (35280),35280,,fyzická,None,None,11.06.1931,None,21.09.2003,None,NaN,NaN

## Opravy

In [12]:
persony[persony["Jméno"] == "Eva Pecková (34563)"]

,Jméno,Id,Medailon,Osoba,Alternativní jména,Životopis,Datum narození,Místo narození,Datum úmrtí,Místo úmrtí,Zasloužilý umělec,Národní umělec
18566,Eva Pecková (34563),34563,"pedagožka, zpěvačka, tanečnice",fyzická,Eva Kubičková (rodné jméno),None,09.12.9441,"Volyně, Československo",18.07.2018,"České Budějovice, Česká republika",NaN,NaN

In [13]:
for key, val in opravy["data_narozeni"].items():
    persony.loc[persony["Jméno"] == key, "Datum narození"] = val

In [14]:
for key, val in opravy["jmena"].items():
    persony.loc[persony["Jméno"] == key, "Jméno"] = val

In [15]:
persony[persony["Jméno"] == "Eva Pecková (34563)"]

,Jméno,Id,Medailon,Osoba,Alternativní jména,Životopis,Datum narození,Místo narození,Datum úmrtí,Místo úmrtí,Zasloužilý umělec,Národní umělec
18566,Eva Pecková (34563),34563,"pedagožka, zpěvačka, tanečnice",fyzická,Eva Kubičková (rodné jméno),None,,"Volyně, Československo",18.07.2018,"České Budějovice, Česká republika",NaN,NaN

In [16]:
persony[persony["Jméno"] == "Adam Klemens (1779)"]

,Jméno,Id,Medailon,Osoba,Alternativní jména,Životopis,Datum narození,Místo narození,Datum úmrtí,Místo úmrtí,Zasloužilý umělec,Národní umělec
11585,Adam Klemens (1779),1779,"dirigent, hudební skladatel",fyzická,None,None,14.01.1967,None,None,None,NaN,NaN

## Konverze formátů

In [17]:
persony["Datum narození"].sample(200).unique()

array([None, '24.02.1786', '07.07.1971', '09.08.1929', '16.04.1944',
       '07.04.1967', '04.05.1918', '16.02.1902', '27.07.1921', '1936',
       '14.12.1940', '07.10.1984', '10.05.1983', '05.10.1925',
       '06.01.1882', '29.03.1902', '12.06.1997', '18.07.1912',
       '04.05.1973', '21.03.1986', '02.11.1906', '19.05.1910',
       '08.06.1989', '06.04.1876', '02.06.1936', '17.07.1946',
       '3. 1. 1969', '27.06.1899', '19.03.1885', '01.12.1952',
       '21.06.1971', '13.12.1908', '07.05.1918', '12.01.1981',
       '6. 1. 1968', '30.07.1920', '26.04.1932', '09.12.1909',
       '03.10.1951', '30.01.1932', '03.04.1880', '16.07.1974',
       '17.06.1928', '30.08.1923', '08.10.1913', '1990', '17.12.1943',
       '14.09.1973', '25.10.1902', '01.02.1879', '26.12.1930',
       '06.05.1916', '19.05.1936', '03.10.1920', '09.07.1974', '1995',
       '17.09.1952', '9. 1. 1971', '08.07.1947', '01.11.1918',
       '22.12.1951', '01.03.1969', '24.07.1926', '17.07.1981',
       '28.03.1938', '08.08.1923', '01.10.1962', '1946', '19.08.1923',
       '22.04.1960'], dtype=object)

In [18]:
persony["Město narození"] = persony["Místo narození"].apply(lambda x: rozdel_misto(x)[0])
persony["Stát narození"] = persony["Místo narození"].apply(lambda x: rozdel_misto(x)[1])
persony["Město úmrtí"] = persony["Místo úmrtí"].apply(lambda x: rozdel_misto(x)[1])
persony["Stát úmrtí"] = persony["Místo úmrtí"].apply(lambda x: rozdel_misto(x)[1])
persony["Rok narození"] = pd.to_numeric(persony["Datum narození"].apply(lambda x: x[-4:] if isinstance(x, str) else None), errors="coerce")
persony["Rok úmrtí"] = pd.to_numeric(persony["Datum úmrtí"].apply(lambda x: x[-4:] if isinstance(x, str) else None), errors="coerce")

In [19]:
def na_data(sloupec):
    global persony
    persony["Pracovni"] = persony[sloupec]
    persony["Pracovni"] = persony["Pracovni"].apply(lambda x: odnebovat(x))
    for index, row in persony.iterrows():
        try:
            date = pd.to_datetime(row["Pracovni"], format = "%d.%m.%Y", errors="ignore")
        except ValueError:
            date = pd.to_datetime(row["Pracovni"], format = "%Y", errors="ignore")
        except ValueError:
            date = None
        persony.at[index, sloupec] = date
    persony = persony.drop(["Pracovni"], axis = 1)

In [20]:
na_data("Datum narození")
na_data("Datum úmrtí")

In [21]:
persony["Rok narození"] = pd.to_numeric(persony["Rok narození"], errors="coerce")
persony["Rok úmrtí"] = pd.to_numeric(persony["Rok úmrtí"], errors="coerce")

In [22]:
persony = persony.applymap(lambda x: x.strip() if isinstance(x, str) else x)

In [23]:
persony

,Jméno,Id,Medailon,Osoba,Alternativní jména,Životopis,Datum narození,Místo narození,Datum úmrtí,Místo úmrtí,Zasloužilý umělec,Národní umělec,Město narození,Stát narození,Město úmrtí,Stát úmrtí,Rok narození,Rok úmrtí
0,Ondřej Mašek (1000),1000,,fyzická,None,None,None,None,None,None,NaN,NaN,None,None,None,None,NaN,NaN
1,kino Světozor (100019),100019,None,právnická,None,None,None,None,None,None,NaN,NaN,None,None,None,None,NaN,NaN
2,"AD WOOD, s.r.o. (100038)",100038,None,právnická,None,None,None,None,None,None,NaN,NaN,None,None,None,None,NaN,NaN
3,Hypermarket Film s.r.o. (100039),100039,None,právnická,Hypermarket Film,None,None,None,None,None,NaN,NaN,None,None,None,None,NaN,NaN
4,Hypermarket Film s.r.o. (100039),100039,None,právnická,Hypermarket Film,None,None,None,None,None,NaN,NaN,None,None,None,None,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35810,Josef Dvořák (9998),9998,"herec, divadelní podnikatel",fyzická,Josef Voloďa Dvořák (rodné jméno),None,1942-04-25 00:00:00,"Horní Cerekev, Československo",None,None,NaN,NaN,Horní Cerekev,Československo,None,None,1942.0,NaN
35811,Antonín Dimitrov (99996),99996,"výtvarník, grafik, scénograf, designér",fyzická,None,None,1928-02-27 00:00:00,"Mšecké Žehrovice, Československo",2014-12-27 00:00:00,"Bobcaygeon, Kanada",NaN,NaN,Mšecké Žehrovice,Československo,Kanada,Kanada,1928.0,2014.0
35812,Čechomor (person),person,None,právnická,None,None,None,None,None,None,NaN,NaN,None,None,None,None,NaN,NaN
35813,Kevin Mc Kidd (person),person,,fyzická,None,None,None,None,None,None,NaN,NaN,None,None,None,None,NaN,NaN
35814,Rostislav Novák st. (person),person,herec,fyzická,"Rosťa Novák, Rosťa Novák st.",None,1948-11-25 00:00:00,"Praha, Československo",None,None,NaN,NaN,Praha,Československo,None,None,1948.0,NaN

In [24]:
persony.to_json(os.path.join("data", "persony.json"), orient="records")