In [1]:
import re
import os
import json
import pandas as pd

In [2]:
with open(os.path.join("data_fixes", "opravy.json"), encoding="utf-8") as opravy:
    opravy = json.loads(opravy.read())

In [3]:
persony = pd.read_json(os.path.join("data", "persony_raw.json"))

In [4]:
persony

,Jméno,Id,Medailon,Osoba,Ocenění,Alternativní jména,Životopis,Datum narození,Místo narození,Datum úmrtí,Místo úmrtí
0,Ondřej Mašek (1000),1000,,fyzická,[Vítěz\n Ak...,None,None,None,None,None,None
1,kino Světozor (100019),100019,None,právnická,None,None,None,None,None,None,None
2,"AD WOOD, s.r.o. (100038)",100038,None,právnická,None,None,None,None,None,None,None
3,Hypermarket Film s.r.o. (100039),100039,None,právnická,None,Hypermarket Film,None,None,None,None,None
4,Hypermarket Film s.r.o. (100039),100039,None,právnická,None,Hypermarket Film,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...
35452,Josef Dvořák (9998),9998,"herec, divadelní podnikatel",fyzická,[Vítěz\n Fe...,Josef Voloďa Dvořák (rodné jméno),None,25.04.1942,"Horní Cerekev, Československo",None,None
35453,Antonín Dimitrov (99996),99996,"výtvarník, grafik, scénograf, designér",fyzická,None,None,None,27.02.1928,"Mšecké Žehrovice, Československo",27.12.2014,"Bobcaygeon, Kanada"
35454,Čechomor (person),person,None,právnická,[Vítěz\n Ak...,None,None,None,None,None,None
35455,Kevin Mc Kidd (person),person,,fyzická,None,None,None,None,None,None,None
35456,Rostislav Novák st. (person),person,herec,fyzická,None,"Rosťa Novák, Rosťa Novák st.",None,25.11.1948,"Praha, Československo",None,None

In [5]:
def odnebovat(x):
    if x:
        if "nebo" in x:
            x = x.split("nebo")[1].strip()
    return x

In [6]:
def rozdel_misto(x):
    if type(x) == str:
        try:
            mesto = x.split(",")[0]
            stat = x.split(",")[1]
        except:
            mesto = None
            stat = x
    else:
        mesto = None
        stat = None
    return [mesto, stat]

## Doplnění dat z Wikidat

In [7]:
persony[persony["Jméno"] == "Stanislav Litera (35280)"].sample(1)

,Jméno,Id,Medailon,Osoba,Ocenění,Alternativní jména,Životopis,Datum narození,Místo narození,Datum úmrtí,Místo úmrtí
18732,Stanislav Litera (35280),35280,,fyzická,None,None,None,None,None,None,None

In [8]:
with open(os.path.join("data_fixes", "data_z_wikidat.json"), encoding="utf-8") as data_z_wikidat:
    data_z_wikidat = json.loads(data_z_wikidat.read())

In [9]:
for key, val in data_z_wikidat.items():
    persony.loc[persony["Jméno"] == key, "Datum narození"] = val[0]

In [10]:
for key, val in data_z_wikidat.items():
    persony.loc[persony["Jméno"] == key, "Datum úmrtí"] = val[1]

In [11]:
persony[persony["Jméno"] == "Stanislav Litera (35280)"].sample(1)

,Jméno,Id,Medailon,Osoba,Ocenění,Alternativní jména,Životopis,Datum narození,Místo narození,Datum úmrtí,Místo úmrtí
18732,Stanislav Litera (35280),35280,,fyzická,None,None,None,11.06.1931,None,21.09.2003,None

## Opravy

In [12]:
persony[persony["Jméno"] == "Eva Pecková (34563)"]

,Jméno,Id,Medailon,Osoba,Ocenění,Alternativní jména,Životopis,Datum narození,Místo narození,Datum úmrtí,Místo úmrtí
18337,Eva Pecková (34563),34563,"pedagožka, zpěvačka, tanečnice",fyzická,None,Eva Kubičková (rodné jméno),None,09.12.1941,"Volyně, Československo",18.07.2018,"České Budějovice, Česká republika"

In [13]:
for key, val in opravy["data_narozeni"].items():
    persony.loc[persony["Jméno"] == key, "Datum narození"] = val

In [14]:
for key, val in opravy["jmena"].items():
    persony.loc[persony["Jméno"] == key, "Jméno"] = val

In [15]:
persony[persony["Jméno"] == "Eva Pecková (34563)"]

,Jméno,Id,Medailon,Osoba,Ocenění,Alternativní jména,Životopis,Datum narození,Místo narození,Datum úmrtí,Místo úmrtí
18337,Eva Pecková (34563),34563,"pedagožka, zpěvačka, tanečnice",fyzická,None,Eva Kubičková (rodné jméno),None,,"Volyně, Československo",18.07.2018,"České Budějovice, Česká republika"

In [16]:
persony[persony["Jméno"] == "Adam Klemens (1779)"]

,Jméno,Id,Medailon,Osoba,Ocenění,Alternativní jména,Životopis,Datum narození,Místo narození,Datum úmrtí,Místo úmrtí
11401,Adam Klemens (1779),1779,"dirigent, hudební skladatel",fyzická,None,None,None,14.01.1967,"Praha, Československo",None,None

## Konverze formátů

In [17]:
persony["Datum narození"].sample(250).unique()

array([None, '1937', '26.08.1962', '01.02.1951', '24.08.1952',
       '10.08.1914', '30.06.1949', '13.08.1959', '10.03.1926',
       '27.06.1936', '1952', '09.02.1942', '1963', '16.12.1961', '1667',
       '1954', '1943', '1968', '29.10.1902', '27.11.1988', '20.02.1924',
       '29.01.1929', '27.01.1924', '17.02.1916', '02.06.1902',
       '26.04.1932', '21.10.1916', '30.09.1931', '20.03.1868',
       '27.11.1962', '24.03.1910', '06.09.1919', '19.08.1946',
       '09.01.1944', '1982', '20.06.1913', '24.09.1922', '20.11.1917',
       '19.07.1965', '1892', '26.04.1943', '28.02.1927', '1928', '1942',
       '29.06.1914', '24.05.1941', '17.08.1954', '16.08.1924',
       '11.10.1965', '10.12.1904', '28.01.1938', '30.03.1968',
       '14.04.1943', '1929', '1972', '11.11.1941', '22.07.1943',
       '16.05.1953', '11.12.1927', '1971', '21.01.1983', '03.02.1951',
       '11.08.1937', '23.05.1967', '13.06.1933', '03.06.1966',
       '07.12.1949', '12.12.1957', '30.01.1885', '1979', '16.10.1927',
       '18.07.1961', '1930', '07.06.1913', '19.08.1932', '18.08.1975',
       '17.11.1965', '08.05.1960', '1964', '02.04.1988', '13.05.1910',
       '19.10.1946', '1927', '18.10.1942'], dtype=object)

In [18]:
persony["Město narození"] = persony["Místo narození"].apply(lambda x: rozdel_misto(x)[0])
persony["Stát narození"] = persony["Místo narození"].apply(lambda x: rozdel_misto(x)[1])
persony["Město úmrtí"] = persony["Místo úmrtí"].apply(lambda x: rozdel_misto(x)[1])
persony["Stát úmrtí"] = persony["Místo úmrtí"].apply(lambda x: rozdel_misto(x)[1])
persony["Rok narození"] = pd.to_numeric(persony["Datum narození"].apply(lambda x: x[-4:] if isinstance(x, str) else None), errors="coerce")
persony["Rok úmrtí"] = pd.to_numeric(persony["Datum úmrtí"].apply(lambda x: x[-4:] if isinstance(x, str) else None), errors="coerce")

In [19]:
def na_data(sloupec):
    global persony
    persony["Pracovni"] = persony[sloupec]
    persony["Pracovni"] = persony["Pracovni"].apply(lambda x: odnebovat(x))
    for index, row in persony.iterrows():
        try:
            date = pd.to_datetime(row["Pracovni"], format = "%d.%m.%Y", errors="ignore")
        except ValueError:
            date = pd.to_datetime(row["Pracovni"], format = "%d. %m. %Y", errors="ignore")
        except ValueError:
            date = pd.to_datetime(row["Pracovni"], format = "%Y", errors="ignore")
        except ValueError:
            date = None
        persony.at[index, sloupec] = date
    persony = persony.drop(["Pracovni"], axis = 1)

In [20]:
na_data("Datum narození")
na_data("Datum úmrtí")

In [21]:
persony["Rok narození"] = pd.to_numeric(persony["Rok narození"], errors="coerce")
persony["Rok úmrtí"] = pd.to_numeric(persony["Rok úmrtí"], errors="coerce")

In [22]:
persony = persony.applymap(lambda x: x.strip() if isinstance(x, str) else x)

In [23]:
persony

,Jméno,Id,Medailon,Osoba,Ocenění,Alternativní jména,Životopis,Datum narození,Místo narození,Datum úmrtí,Místo úmrtí,Město narození,Stát narození,Město úmrtí,Stát úmrtí,Rok narození,Rok úmrtí
0,Ondřej Mašek (1000),1000,,fyzická,[Vítěz\n Ak...,None,None,None,None,None,None,None,None,None,None,NaN,NaN
1,kino Světozor (100019),100019,None,právnická,None,None,None,None,None,None,None,None,None,None,None,NaN,NaN
2,"AD WOOD, s.r.o. (100038)",100038,None,právnická,None,None,None,None,None,None,None,None,None,None,None,NaN,NaN
3,Hypermarket Film s.r.o. (100039),100039,None,právnická,None,Hypermarket Film,None,None,None,None,None,None,None,None,None,NaN,NaN
4,Hypermarket Film s.r.o. (100039),100039,None,právnická,None,Hypermarket Film,None,None,None,None,None,None,None,None,None,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35452,Josef Dvořák (9998),9998,"herec, divadelní podnikatel",fyzická,[Vítěz\n Fe...,Josef Voloďa Dvořák (rodné jméno),None,1942-04-25 00:00:00,"Horní Cerekev, Československo",None,None,Horní Cerekev,Československo,None,None,1942.0,NaN
35453,Antonín Dimitrov (99996),99996,"výtvarník, grafik, scénograf, designér",fyzická,None,None,None,1928-02-27 00:00:00,"Mšecké Žehrovice, Československo",2014-12-27 00:00:00,"Bobcaygeon, Kanada",Mšecké Žehrovice,Československo,Kanada,Kanada,1928.0,2014.0
35454,Čechomor (person),person,None,právnická,[Vítěz\n Ak...,None,None,None,None,None,None,None,None,None,None,NaN,NaN
35455,Kevin Mc Kidd (person),person,,fyzická,None,None,None,None,None,None,None,None,None,None,None,NaN,NaN
35456,Rostislav Novák st. (person),person,herec,fyzická,None,"Rosťa Novák, Rosťa Novák st.",None,1948-11-25 00:00:00,"Praha, Československo",None,None,Praha,Československo,None,None,1948.0,NaN

## Split na ocenění

In [24]:
oceneni = persony[["Jméno","Ocenění"]]

In [25]:
oceneni.to_json(os.path.join("data", "persony_oceneni.json"), orient="records", date_format="iso")

In [26]:
persony = persony.drop(columns="Ocenění")

In [27]:
persony.to_json(os.path.join("data", "persony.json"), orient="records", date_format="iso")