In [1]:
import os
from src.gender import gender

In [2]:
import pandas as pd

In [3]:
df = pd.read_json(os.path.join("data", "filmy.json"))

In [4]:
df["Hrají"]

0                                                    None
1                                                    None
2                                                    None
3                                                    None
4                                                    None
                              ...
4520    [Igor Chmela (26627), Jana Plodková (24916), C...
4521    [Anna Polívková (15610), Jiří Langmajer (2981)...
4522                                                   []
4523                                                 None
4524                               [Jiří Ployhar (17086)]
Name: Hrají, Length: 4525, dtype: object

In [5]:
df["Hlavní role"] = df["Hrají"].dropna().apply(lambda x: x[:3])

In [6]:
df["Vedlejší role"] = df["Hrají"].dropna().apply(lambda x: x[3:])

## Gender hlavních rolí

In [7]:
def gender_hlavnich_roli(x):

    if not isinstance(x, list):
        return x
    
    muz_item = []
    zena_item = []
    
    for item in x:
        
        item_stripped = item.split("(")[0].strip()
        gender_result = gender(item_stripped)
        if gender_result == "muž":
            muz_item.append(item)
        elif gender_result == "žena":
            zena_item.append(item)
            
    return [muz_item, zena_item]

In [8]:
df["Muži v hlavních rolích"] = df["Hlavní role"].dropna().apply(lambda x: gender_hlavnich_roli(x)[0])
df["Ženy v hlavních rolích"] = df["Hlavní role"].dropna().apply(lambda x: gender_hlavnich_roli(x)[1])

In [9]:
df.explode("Muži v hlavních rolích").explode("Ženy v hlavních rolích").groupby(["Muži v hlavních rolích","Ženy v hlavních rolích"])["Film"].nunique().nlargest(10)

Muži v hlavních rolích     Ženy v hlavních rolích
Karel Lamač (37847)        Anny Ondráková (127280)        17
Theodor Pištěk (37366)     Antonie Nedošinská (127295)    12
                           Anny Ondráková (127280)        10
V. Ch. Vladimírov (38066)  Suzanne Marwille (127373)       8
Otto Šimánek (35353)       Veronika Renčová (128659)       7
Theodor Pištěk (37366)     Máňa Ženíšková (126674)         7
Jan Werich (1287)          Veronika Renčová (128659)       6
Karel Roden (494)          Ivana Chýlková (4684)           6
Hugo Haas (37289)          Adina Mandlová (55611)          5
                           Antonie Nedošinská (127295)     5
Name: Film, dtype: int64

In [10]:
df[df["Copyright"] > 1945].explode("Muži v hlavních rolích").explode("Ženy v hlavních rolích").groupby(["Muži v hlavních rolích","Ženy v hlavních rolích"])["Film"].nunique().nlargest(35)

Muži v hlavních rolích      Ženy v hlavních rolích
Otto Šimánek (35353)        Veronika Renčová (128659)      7
Jan Werich (1287)           Veronika Renčová (128659)      6
Karel Roden (494)           Ivana Chýlková (4684)          6
Jaromír Hanzlík (14425)     Daniela Kolářová (1847)        5
Vlastimil Brodský (833)     Jana Brejchová (7710)          5
Gustáv Valach (10715)       Jana Brejchová (7710)          4
Jiří Schmitzer (2936)       Helena Vitovská (34062)        4
Jiří Sovák (5288)           Iva Janžurová (1049)           4
Tomáš Holý (27091)          Jana Brejchová (7710)          4
Jan Kačer (1165)            Jana Brejchová (7710)          3
Jiří Bartoška (827)         Ivana Chýlková (4684)          3
Jiří Sovák (5288)           Jana Hlaváčová (11370)         3
Josef Abrhám (2274)         Libuše Šafránková (2272)       3
Josef Šebánek (69908)       Marie Motlová (35339)          3
Karel Höger (38146)         Dana Medřická (64028)          3
                            Jana Brejchová (7710)          3
Martin Finger (19835)       Anna Geislerová (5433)         3
Petr Čepek (4764)           Taťána Fischerová (12886)      3
Radoslav Brzobohatý (2770)  Jiřina Bohdalová (2878)        3
Radovan Lukavský (3301)     Jiřina Švorcová (25688)        3
Vladimír Menšík (126036)    Božidara Turzonovová (7765)    3
                            Iva Janžurová (1049)           3
                            Jana Brejchová (7710)          3
Václav Vydra (2666)         Jana Paulová (8262)            3
Zdeněk Svěrák (1892)        Libuše Šafránková (2272)       3
Zdeněk Štěpánek (87457)     Dana Medřická (64028)          3
Bolek Polívka (1556)        Eva Holubová (5948)            2
Boleslav Polívka (1556)     Eva Holubová (5948)            2
                            Veronika Žilková (1517)        2
                            Zlata Adamovská (18668)        2
Eduard Cupák (4944)         Alena Vránová (4984)           2
Emil Horváth ml. (126551)   Magda Vášáryová (31019)        2
                            Petronela Vančíková (88860)    2
František Husák (81389)     Marie Motlová (35339)          2
Jan Hrušínský (9926)        Petra Černocká (23232)         2
Name: Film, dtype: int64

## První muž v titulcích + první žena v titulcích

In [11]:
def hlavni_hvezdy(x):

    if not isinstance(x, list):
        return x
    
    muz_item = None
    zena_item = None
    
    for item in x:
        
        item_stripped = item.split("(")[0].strip()
        gender_result = gender(item_stripped)
        if gender_result == "muž" and not muz_item:
            muz_item = item
        elif gender_result == "žena" and not zena_item:
            zena_item = item
        
        if muz_item and zena_item:
            break
    
    return [muz_item, zena_item]

In [12]:
pokus = ["Igor Chmela (26627)", "Jana Plodková (24916)"]

In [13]:
hlavni_hvezdy(pokus)

['Igor Chmela (26627)', 'Jana Plodková (24916)']

In [14]:
df["Muž v hlavní roli"] = df["Hrají"].dropna().apply(lambda x: hlavni_hvezdy(x)[0])
df["Žena v hlavní roli"] = df["Hrají"].dropna().apply(lambda x: hlavni_hvezdy(x)[1])

In [15]:
df.groupby(["Muž v hlavní roli","Žena v hlavní roli"])["Film"].nunique().nlargest(10)

Muž v hlavní roli          Žena v hlavní roli
Karel Lamač (37847)        Anny Ondráková (127280)        12
Theodor Pištěk (37366)     Antonie Nedošinská (127295)    12
Otto Šimánek (35353)       Veronika Renčová (128659)       7
V. Ch. Vladimírov (38066)  Suzanne Marwille (127373)       6
Theodor Pištěk (37366)     Anny Ondráková (127280)         5
Zdeněk Štěpánek (87457)    Vlasta Matulová (998)           5
Hugo Haas (37289)          Antonie Nedošinská (127295)     4
Jindřich Plachta (5829)    Zdeňka Baldová (28798)          4
Jiří Schmitzer (2936)      Helena Vitovská (34062)         4
Karel Noll (122320)        Antonie Nedošinská (127295)     4
Name: Film, dtype: int64

In [16]:
df[df["Copyright"] > 1945].groupby(["Muž v hlavní roli","Žena v hlavní roli"])["Film"].nunique().nlargest(20)

Muž v hlavní roli           Žena v hlavní roli
Otto Šimánek (35353)        Veronika Renčová (128659)      7
Jiří Schmitzer (2936)       Helena Vitovská (34062)        4
Vlastimil Brodský (833)     Jana Brejchová (7710)          4
Zdeněk Štěpánek (87457)     Vlasta Matulová (998)          4
Gustáv Valach (10715)       Jana Brejchová (7710)          3
Jan Kačer (1165)            Jana Brejchová (7710)          3
Jiří Sovák (5288)           Jiřina Bohdalová (2878)        3
Josef Abrhám (2274)         Libuše Šafránková (2272)       3
Josef Šebánek (69908)       Marie Motlová (35339)          3
Karel Heřmánek (6274)       Jana Synková (12616)           3
Karel Höger (38146)         Dana Medřická (64028)          3
                            Slávka Budínová (8606)         3
Martin Finger (19835)       Anna Geislerová (5433)         3
Otomar Krejča (7597)        Antonie Hegerliková (7721)     3
Otto Šimánek (35353)        Slávka Budínová (8606)         3
Radoslav Brzobohatý (2770)  Jiřina Bohdalová (2878)        3
Vladimír Menšík (126036)    Božidara Turzonovová (7765)    3
Václav Vydra (2666)         Jana Paulová (8262)            3
Bohuš Záhorský (53346)      Jiřina Šejbalová (125559)      2
Bolek Polívka (1556)        Eva Holubová (5948)            2
Name: Film, dtype: int64

In [17]:
df[df["Copyright"] > 1989].groupby(["Muž v hlavní roli","Žena v hlavní roli"])["Film"].nunique().nlargest(20)

Muž v hlavní roli          Žena v hlavní roli
Karel Heřmánek (6274)      Jana Synková (12616)           3
Martin Finger (19835)      Anna Geislerová (5433)         3
Václav Vydra (2666)        Jana Paulová (8262)            3
Bolek Polívka (1556)       Eva Holubová (5948)            2
Boleslav Polívka (1556)    Eva Holubová (5948)            2
                           Veronika Žilková (1517)        2
                           Zlata Adamovská (18668)        2
                           Zuzana Bydžovská (4683)        2
Jaromír Dulava (1837)      Marie Mazurová (4266)          2
Jiří Bartoška (827)        Ivana Chýlková (4684)          2
Jiří Langmajer (2981)      Anna Polívková (15610)         2
Jiří Schmitzer (2936)      Helena Vitovská (34062)        2
Josef Abrhám (2274)        Libuše Šafránková (2272)       2
Karel Roden (494)          Anna Geislerová (5433)         2
                           Chantal Poullain /ž/ (1573)    2
                           Lenka Vlasáková (1912)         2
                           Lucie Bílá (7010)              2
Ladislav Potměšil (12606)  Simona Krainová (12617)        2
Martin Myšička (13007)     Jana Plodková (24916)          2
Martin Pechlát (9426)      Gabriela Míčová (9758)         2
Name: Film, dtype: int64

In [18]:
df[df["Copyright"] > 2002].groupby(["Muž v hlavní roli","Žena v hlavní roli"])["Film"].nunique().nlargest(20)

Muž v hlavní roli         Žena v hlavní roli
Martin Finger (19835)     Anna Geislerová (5433)      3
Václav Vydra (2666)       Jana Paulová (8262)         3
Bolek Polívka (1556)      Eva Holubová (5948)         2
Boleslav Polívka (1556)   Eva Holubová (5948)         2
                          Zlata Adamovská (18668)     2
Jiří Langmajer (2981)     Anna Polívková (15610)      2
Martin Myšička (13007)    Jana Plodková (24916)       2
Martin Pechlát (9426)     Gabriela Míčová (9758)      2
Oldřich Kaiser (1794)     Kamila Magálová (55419)     2
Ondřej Vetchý (836)       Anna Geislerová (5433)      2
                          Vica Kerekes /ž/ (78381)    2
Vratislav Brabenec (663)  Nikol Fischerová (2527)     2
Václav Vydra (2666)       Dana Morávková (2293)       2
Aaron Monaghan (59068)    Réka Derzsi /ž/ (35476)     1
Adam Gebert (19050)       Anna Lísalová (78487)       1
Adam Mihál (122066)       Mária Fornayová (130007)    1
Adam Mišík (27584)        Anna Fialová (21871)        1
                          Hana Vagnerová (16186)      1
Adam Stivín (13966)       Anna Veselá (584)           1
Alexandr Rašilov (8072)   Taťjana Medvecká (7064)     1
Name: Film, dtype: int64

In [19]:
df.groupby("Žena v hlavní roli")["Film"].nunique().nlargest(20)

Žena v hlavní roli
Antonie Nedošinská (127295)    41
Jana Brejchová (7710)          37
Suzanne Marwille (127373)      35
Anny Ondráková (127280)        31
Iva Janžurová (1049)           29
Adina Mandlová (55611)         26
Hana Vítová (126418)           26
Jiřina Bohdalová (2878)        25
Anna Geislerová (5433)         23
Jiřina Štěpničková (29765)     23
Ivana Chýlková (4684)          21
Zdeňka Baldová (28798)         21
Lída Baarová (5202)            19
Jiřina Šejbalová (125559)      18
Květa Fialová (5338)           17
Libuše Šafránková (2272)       17
Slávka Budínová (8606)         17
Dana Medřická (64028)          16
Růžena Šlemrová (127282)       16
Věra Ferbasová (33991)         16
Name: Film, dtype: int64

In [20]:
df.explode("Režie").groupby(["Režie","Žena v hlavní roli"])["Film"].nunique().nlargest(20)

Režie                       Žena v hlavní roli
Václav Binovec (37467)      Suzanne Marwille (127373)      21
Karel Lamač (37847)         Anny Ondráková (127280)        17
Max Urban (95056)           Andula Sedláčková (126987)     10
Vladimír Slavínský (31967)  Antonie Nedošinská (127295)    10
                            Věra Ferbasová (33991)          9
Jindřich Polák (7891)       Veronika Renčová (128659)       7
Martin Frič (20324)         Adina Mandlová (55611)          7
                            Suzanne Marwille (127373)       7
Jan Hřebejk (4831)          Anna Geislerová (5433)          6
Svatopluk Innemann (33860)  Zdena Kavková (127457)          6
Martin Frič (20324)         Běla Jurdová (27291)            5
                            Zdeňka Baldová (28798)          5
Miroslav Cikán (31969)      Hana Vítová (126418)            5
Oldřich Kmínek (37986)      Anita Janová (128156)           5
Otakar Vávra (9507)         Vlasta Matulová (998)           5
Evald Schorm (7895)         Jana Brejchová (7710)           4
Jiří Slavíček (31972)       Hana Vítová (126418)            4
Karel Anton (37987)         Antonie Nedošinská (127295)     4
Martin Frič (20324)         Jiřina Štěpničková (29765)      4
                            Nataša Gollová (36491)          4
Name: Film, dtype: int64

In [21]:
df.explode("Režie").groupby(["Režie","Muž v hlavní roli"])["Film"].nunique().nlargest(20)

Režie                       Muž v hlavní roli
Jindřich Polák (7891)       Otto Šimánek (35353)           16
Martin Frič (20324)         Vlasta Burian (11992)          14
Karel Lamač (37847)         Vlasta Burian (11992)          11
                            Karel Lamač (37847)            10
Martin Frič (20324)         Hugo Haas (37289)               8
Dušan Klein (2568)          Pavel Kříž (2990)               7
Otakar Vávra (9507)         Zdeněk Štěpánek (87457)         7
Martin Frič (20324)         František Smolík (126955)       6
                            Oldřich Nový (12009)            6
Vladimír Slavínský (31967)  Theodor Pištěk (37366)          6
                            Vladimír Slavínský (31967)      6
Václav Binovec (37467)      V. Ch. Vladimírov (38066)       6
Josef Kokeisl (55986)       Roman Roda-Růžička (128234)     5
Karel Lamač (37847)         Theodor Pištěk (37366)          5
Martin Frič (20324)         Zdeněk Štěpánek (87457)         5
Miroslav Cikán (31969)      Jindřich Plachta (5829)         5
Otakar Vávra (9507)         Karel Höger (38146)             5
Svatopluk Innemann (33860)  Theodor Pištěk (37366)          5
V. Ch. Vladimírov (38066)   V. Ch. Vladimírov (38066)       5
Václav Kubásek (37286)      L. H. Struna (126711)           5
Name: Film, dtype: int64

## Hvězdnost herectva

In [22]:
hvezdnost = pd.Series(df.explode("Hlavní role").groupby("Hlavní role")["Film"].nunique() / df.explode("Hrají").groupby("Hrají")["Film"].nunique(), name="Hvězdnost")

In [23]:
hvezdnost

 (person)                        NaN
 Ajala (77698)                   NaN
 Baky (13703)                    NaN
 Bohemia Big Band (18563)        NaN
 Boni Pueri (22837)              NaN
                                ...
Žofie Veselá (125302)            NaN
Žofie Červená (130187)           NaN
Žák (63328)                      NaN
Žán Loose (11369)                1.0
žáci Scholae cantorum (59846)    NaN
Name: Hvězdnost, Length: 16194, dtype: float64

In [24]:
obsazovanost = pd.Series(df.explode("Hrají").groupby("Hrají")["Film"].nunique(), name="Obsazovanost")

In [25]:
obsazovanost

Hrají
 (person)                         2
 Ajala (77698)                    1
 Baky (13703)                     1
 Bohemia Big Band (18563)         1
 Boni Pueri (22837)               1
                                 ..
Žofie Veselá (125302)            14
Žofie Červená (130187)            1
Žák (63328)                       1
Žán Loose (11369)                 1
žáci Scholae cantorum (59846)     1
Name: Obsazovanost, Length: 16194, dtype: int64

In [26]:
hvezdy = pd.DataFrame([hvezdnost, obsazovanost]).transpose()

In [27]:
hvezdy

                               Hvězdnost  Obsazovanost
 (person)                            NaN           2.0
 Ajala (77698)                       NaN           1.0
 Baky (13703)                        NaN           1.0
 Bohemia Big Band (18563)            NaN           1.0
 Boni Pueri (22837)                  NaN           1.0
...                                  ...           ...
Žofie Veselá (125302)                NaN          14.0
Žofie Červená (130187)               NaN           1.0
Žák (63328)                          NaN           1.0
Žán Loose (11369)                    1.0           1.0
žáci Scholae cantorum (59846)        NaN           1.0

[16194 rows x 2 columns]

In [28]:
hvezdy[hvezdy["Obsazovanost"] >= 15].sort_values(by="Hvězdnost", ascending=False).head(60)

                              Hvězdnost  Obsazovanost
Vlasta Burian (11992)          0.974359          39.0
Andula Sedláčková (126987)     0.937500          16.0
Suzanne Marwille (127373)      0.900000          40.0
Rolf Wanka (56226)             0.894737          19.0
Anny Ondráková (127280)        0.810811          37.0
Hugo Haas (37289)              0.766667          30.0
Jan Werich (1287)              0.761905          21.0
V. Ch. Vladimírov (38066)      0.700000          20.0
Karel Lamač (37847)            0.698413          63.0
Karel Roden (494)              0.698113          53.0
Karel Höger (38146)            0.691176          68.0
Anna Geislerová (5433)         0.685714          35.0
Jana Brejchová (7710)          0.666667          60.0
Oldřich Nový (12009)           0.658537          41.0
Lída Baarová (5202)            0.656250          32.0
Jan Dolanský (1091)            0.647059          17.0
Zdeněk Štěpánek (87457)        0.640625          64.0
Hana Vítová (126418)           0.620690          58.0
Vlasta Matulová (998)          0.619048          21.0
Karel Hašler (12006)           0.615385          26.0
Magda Vášáryová (31019)        0.600000          15.0
Tatiana Vilhelmová (935)       0.600000          30.0
Jiří Mádl (18965)              0.592593          27.0
Otomar Korbelář (126899)       0.586957          46.0
Jiří Vala (17786)              0.580645          31.0
Klára Issová (1058)            0.578947          19.0
Božidara Turzonovová (7765)    0.578947          19.0
Ivan Trojan (6789)             0.571429          21.0
Marta Vančurová (5491)         0.571429          21.0
Jaromír Hanzlík (14425)        0.565217          46.0
Eduard Cupák (4944)            0.565217          46.0
Jiřina Švorcová (25688)        0.555556          18.0
Boleslav Polívka (1556)        0.551020          49.0
Kryštof Hádek (1830)           0.548387          31.0
Václav Voska (76149)           0.548387          31.0
Jiří Adamíra (4730)            0.542857          35.0
Adina Mandlová (55611)         0.541667          48.0
Vojtěch Dyk (26739)            0.533333          15.0
Milan Kňažko (55748)           0.533333          15.0
Martin Finger (19835)          0.526316          19.0
Iva Janžurová (1049)           0.523077          65.0
Jiřina Štěpničková (29765)     0.521739          46.0
Josef Abrhám (2274)            0.519231          52.0
Oldřich Kaiser (1794)          0.511111          45.0
Filip Blažek (3869)            0.500000          20.0
Václav Vydra st. (126536)      0.500000          22.0
Jana Hlaváčová (11370)         0.500000          32.0
Truda Grosslichtová (125521)   0.500000          24.0
Daniela Kolářová (1847)        0.500000          30.0
Tereza Brodská (12682)         0.500000          16.0
Mary Jansová (127698)          0.500000          28.0
Jana Paulová (8262)            0.500000          18.0
Antonie Nedošinská (127295)    0.500000          92.0
Marie Tomášová (29900)         0.500000          22.0
Lukáš Vaculík (3864)           0.500000          30.0
Vladimír Dlouhý (5496)         0.500000          32.0
Eliška Balzerová (14418)       0.500000          16.0
Jiří Sovák (5288)              0.494737          95.0
Libuše Šafránková (2272)       0.483871          31.0
Ladislav Boháč (127074)        0.481481          54.0

In [29]:
hvezdy[hvezdy["Obsazovanost"] >= 100].sort_values(by="Hvězdnost", ascending=False).tail(20)

                             Hvězdnost  Obsazovanost
Hermína Vojtová (127041)      0.072727         110.0
Milka Balek-Brodská (28799)   0.066265         166.0
Josef Hlinomaz (26212)        0.064748         139.0
František Černý (127313)      0.049505         101.0
Jiří Lír (4926)               0.037879         132.0
Ota Motyčka (81341)           0.025000         120.0
Oldřich Velen (12725)         0.024096         166.0
Alois Dvorský (127491)        0.017751         169.0
Václav Kotva (2718)           0.017699         113.0
Mirko Musil (33555)           0.016393         122.0
Karel Augusta (5058)          0.015625         128.0
F. X. Mlejnek (128287)        0.015385         130.0
Karel Engel (14390)           0.009174         109.0
Jiřina Bílá (3629)            0.008696         115.0
Jaroslav Tomsa (2576)         0.006579         152.0
Jan Kuželka (1445)                 NaN         116.0
Karel Bělohradský (6370)           NaN         101.0
Karel Hovorka (76534)              NaN         135.0
Vladimír Navrátil (12670)          NaN         126.0
Zdeněk Srstka (7960)               NaN         111.0