In [1]:
import os
import json
import pandas as pd
from src.vycisti import vycisti
pd.set_option('display.max_columns', None)
df = pd.read_json(os.path.join("data", "filmy.json"))
with open(os.path.join("data_fixes", "opravy.json"), encoding="utf-8") as opravy:
    opravy = json.loads(opravy.read())
with open(os.path.join("data_fixes", "seznamy.json"), encoding="utf-8") as seznamy:
    seznamy = json.loads(seznamy.read())
df = vycisti(df, opravy)

2023/06/01 17:14:46 z 4555 řádků odstraněno 133. Aktuální dataframe má 4422 řádků.

In [2]:
persony = pd.read_json(os.path.join("data", "persony.json")).drop_duplicates()

In [3]:
df = df.explode("Lokace")

In [4]:
def mesto(lokace):
    
    if isinstance(lokace, str):
    
        if "(" in lokace:

            zavorka = lokace.split("(")[1].replace(")","").strip()

            if zavorka in seznamy["praha"]:

                mesto = "Praha"

            elif zavorka == "Česká republika":
                
                mesto = lokace.split("(")[0].strip()
            
            else:

                mesto = zavorka

        else:
            
            mesto = lokace
            
        if "Česká republika, " in mesto:
                
            mesto = mesto.split(",")[1].strip()
            
    else:

        mesto = lokace         
        
    return(mesto)

In [5]:
df["Město"] = df["Lokace"].apply(lambda x: mesto(x))

## Nejčastější lokace

České celovečerní hrané filmy od r. 1998 včetně:

In [6]:
hcf = df[df["Délka"] == "dlouhometrážní"].explode("Typologie")
hcf = hcf[hcf["Typologie"] == "hraný"]
hcf = hcf[hcf["Copyright"] >= 1998]

Pořadí měst podle počtu natáčených filmů:

In [7]:
hcf.groupby("Město")["Film"].nunique().nlargest(60)

Město
Praha                          170
Slovensko                       52
Brno                            10
Jaroměř                          9
Bratislava                       8
Rakousko                         8
Beroun                           7
Kladno                           7
Zlín                             7
Hradec Králové                   6
Itálie                           6
Liberec                          6
Mladá Boleslav                   6
Olomouc                          6
Polsko                           6
Praha a okolí                    6
Vysočany                         6
Francie                          5
Německo                          5
Ostrava                          5
Plzeň                            5
Ústí nad Labem                   5
Brdy                             4
Doksy                            4
Jizerské hory                    4
Karlovy Vary                     4
Kolín                            4
Kouřim                           4
Mikulov                          4
Mělník                           4
Nádražní ulice                   4
Přerov nad Labem                 4
Příbram                          4
Slapy                            4
Veltrusy                         4
Brandýs nad Labem                3
Dunaj                            3
Lužná u Rakovníka                3
Lysá nad Labem                   3
Norsko                           3
Náchod                           3
Pezinok                          3
Poděbrady                        3
Slaný                            3
Slavonice                        3
Staré Město pod Landštejnem      3
Staré náměstí                    3
Terezín                          3
Thajsko                          3
USA                              3
Varnsdorf                        3
Vysoké Tatry                     3
Výstaviště                       3
Český ráj                        3
Špindlerův Mlýn                  3
Šumava                           3
Bechyně                          2
Bedřichov                        2
Blatná                           2
Chudenice                        2
Name: Film, dtype: int64

In [34]:
top_mesta = hcf.groupby("Město")["Film"].nunique().nlargest(60)
top_mesta = top_mesta[top_mesta >= 4]
top_mesta = top_mesta.index.to_list()[2:]

Kompletní seznam filmů a lokací ve městech:

In [43]:
for t in top_mesta:
    print(f"{t.upper()}:")
    filmy = hcf[hcf["Město"] == t]["Film"].drop_duplicates().to_list()
    for f in filmy:
        print(f"""{f.upper()} | Lokality: {", ".join(hcf[(hcf["Město"] == t) & (hcf["Film"] == f)]["Lokace"].drop_duplicates().to_list())}""")
    print("***")

BRNO:
ZEJTRA NAPOŘÁD (400555) | Lokality: Brno (Česká republika)
LÍDA BAAROVÁ (400696) | Lokality: Brno (Česká republika), Národní divadlo – Mahenovo divadlo (Brno), Černá Pole (Brno), Pisárky (Brno)
VŠECHNO BUDE FAJN! (401386) | Lokality: Brno
PEPA (401760) | Lokality: Brno (Česká republika)
ALENKA V ZEMI ZÁZRAKŮ (401746) | Lokality: Brno (Česká republika), hlavní nádraží (Brno), Mendlovo náměstí (Brno), Opatství svatého Tomáše /Starobrněnský klášter/ (Brno), Jakubské náměstí (Brno), kostel sv. Jakuba Staršího (Brno), Petrov (Brno), katedrála sv. Petra a Pavla (Brno), Kraví hora (Brno), hvězdárna a planetárium (Brno), Výstaviště (Brno), Jihlavská ulice (Brno), krematorium (Brno), Ústřední hřbitov (Brno)
NABARVENÉ PTÁČE (401962) | Lokality: Česká republika, Brno (Česká republika), ulice Cejl (Brno)
SKLENĚNÝ POKOJ (401929) | Lokality: Česká republika, Brno (Česká republika), Výstaviště (Brno), Černá Pole (Brno), Vila Tugendhat (Brno), Pisárky (Brno), Vila Stiassni (Brno), Zelný trh (Brno)
MODELÁŘ (402079) | Lokality: Brno (Česká republika), přehrada (Brno), most pod hradem Veveří (Brno), Gorkého ulice (Brno), Zelný trh (Brno), Dominikánská ulice (Brno), Eleven club /interiér/ (Brno), Kounicova ulice (Brno), klub Melodka /interiér/ (Brno), Výstaviště (Brno)
MARŤANSKÉ LODĚ (402153) | Lokality: Česká republika, Brno (Česká republika), hlavní nádraží (Brno), hala Malá Amerika (Brno), Kopečná ulice (Brno), Sukova ulice (Brno), Běhounská ulice (Brno), Pisárecká ulice (Brno), Pekařská ulice (Brno), Dominikánské náměstí (Brno), ulice Dornych (Brno), Jezuitská ulice (Brno), Malinovského náměstí (Brno), Váchova ulice (Brno), Lipová ulice (Brno), Zábrdovická ulice (Brno), Dolní Heršpice (Brno), Ořešín (Brno)
SHOKY & MORTHY: POSLEDNÍ VELKÁ AKCE (402158) | Lokality: Brno, Výstaviště (Brno), ulice Koliště (Brno), Božetěchova ulice (Brno)
***
JAROMĚŘ:
NĚŽNÉ VLNY (400551) | Lokality: Jaroměř, most Komenského (Jaroměř)
WILSONOV (400602) | Lokality: Jaroměř (Česká republika)
ZAHRADNICTVÍ: RODINNÝ PŘÍTEL (401671) | Lokality: Jaroměř (Česká republika), ulice (Jaroměř), železniční výtopna (Jaroměř)
ZAHRADNICTVÍ: NÁPADNÍK (401672) | Lokality: Jaroměř (Česká republika)
ZAHRADNICTVÍ: DEZERTÉR (401670) | Lokality: Jaroměř (Česká republika)
NABARVENÉ PTÁČE (401962) | Lokality: Jaroměř (Česká republika)
V ZAJETÍ SÍTĚ (401999) | Lokality: Jaroměř, Josefov (Jaroměř)
HAVEL (402069) | Lokality: Jaroměř, Josefov (Jaroměř), Okružní ulice (Jaroměř), Nemocniční ulice (Jaroměř), Jungmannova ulice (Jaroměř), Komenského ulice (Jaroměř), Duškova ulice (Jaroměř), Traxlerova ulice (Jaroměř), Zmítkova ulice (Jaroměř), ulice Doktora Reyla (Jaroměř)
CASTING NA LÁSKU (402062) | Lokality: Jaroměř, Palackého ulice (Jaroměř)
***
BRATISLAVA:
ŠPÍNA (401181) | Lokality: Most SNP (Bratislava), Prístavný most (Bratislava), Spojená škola Novohradská (Bratislava), Subclub (Bratislava), Rádio FM (Bratislava), Univerzitná nemocnica Bratislava (Bratislava), Nákladný prístav Bratislava (Bratislava), Športová hala Elán (Bratislava), Square Club (Bratislava), Nu Spirit Club (Bratislava), Športová hala Prokofievova Bratislava-Jarovce (Bratislava)
DŮVĚRNÝ NEPŘÍTEL (401807) | Lokality: Staré Mesto (Bratislava), Petržalka (Bratislava)
OSTRÝM NOŽOM (402013) | Lokality: Dunaj (Bratislava), Mlynská dolina (Bratislava), Mýtna ulice (Bratislava), Šafárikovo náměstí (Bratislava), Radlinského ulice (Bratislava), ulice Drotárska cesta (Bratislava), Ružinovská ulice (Bratislava), Račianska ulica (Bratislava), Grösslingová ulice (Bratislava), Tehelná ulice (Bratislava), náměstí Alexandra Dubčeka (Bratislava), Ružinov (Bratislava), Rača (Bratislava), Petržalka (Bratislava)
AMNESTIE (401937) | Lokality: Hviezdoslavovo náměstí (Bratislava), Letiště M. R. Štefánika /interiér/ (Bratislava), Vajnorská ulice (Bratislava), Račianska ulice (Bratislava), Hroboňova ulice (Bratislava), Šúlekova ulice (Bratislava), Moyzesova ulice (Bratislava), Hurbanovo náměstí (Bratislava), Vojanského nábřeží (Bratislava), Kubániho ulice (Bratislava), Náměstí Slovenského národního povstání (Bratislava), Mlynská dolina (Bratislava), Břečtanová ulice (Bratislava), Dunaj (Bratislava), Sad Janka Kráľa (Bratislava), Horský park (Bratislava), Rača (Bratislava), Vrakuňa (Bratislava)
SLUŽEBNÍCI (402167) | Lokality: Kapitulská ulice (Bratislava)
MUŽ SE ZAJEČÍMA UŠIMA (402182) | Lokality: náměstí Ľudovíta Štúra (Bratislava), Kollárovo náměstí (Bratislava), Pribinova ulice (Bratislava)
SVIŇA (402067) | Lokality: Náměstí Alexandra Dubčeka (Bratislava), Náměstí svobody (Bratislava), Dunaj (Bratislava), ulice Mlynské nivy (Bratislava), Primaciálne náměstí (Bratislava), Brečtanová ulice (Bratislava), Náměstí Slovenského národního povstání (Bratislava), Hurbanovo náměstí (Bratislava), Hlavné náměstí (Bratislava), Žižkova ulice (Bratislava), Rudnayovo náměstí (Bratislava), Michalská ulice (Bratislava), Pribinova ulice (Bratislava), Lazaretská ulice (Bratislava), Dvořákovo nábřeží (Bratislava), Gorkého ulice (Bratislava), Staromestská ulice (Bratislava), Továrenská ulice (Bratislava), Tomášiková ulice (Bratislava), Župné náměstí (Bratislava), Podunajské Biskupice (Bratislava), Vlčie hrdlo (Bratislava), nádraží Nové Mesto (Bratislava), Jarovecké rameno (Bratislava), Rusovské jezero (Bratislava), Čunovo (Bratislava)
ZNÁMÍ NEZNÁMÍ (402233) | Lokality: Kozia ulice (Bratislava)
***
RAKOUSKO:
KOZA (400585) | Lokality: Rakousko, Kittsee (Rakousko)
ROAD-MOVIE (400779) | Lokality: Rakousko, Vídeň (Rakousko), Hallstatt (Rakousko)
LÍDA BAAROVÁ (400696) | Lokality: Rakousko
MENANDROS & THAÏS (401041) | Lokality: Rakousko, Salzkammergut – Traunsee (Rakousko)
DOMA JE TADY (401744) | Lokality: Rakousko, Tyrolsko (Rakousko), Breitenbach (Rakousko), Innsbruck (Rakousko), Kramsach (Rakousko), Rum (Rakousko), Schwaz (Rakousko), Vomp (Rakousko), Völs (Rakousko), Wattens (Rakousko), Zirl (Rakousko)
TLUMOČNÍK (401728) | Lokality: Rakousko, Vídeň (Rakousko)
SKLENĚNÝ POKOJ (401929) | Lokality: Rakousko, Seewalchen am Attersee (Rakousko), jezero Attersse (Rakousko)
ATLAS PTÁKŮ (402154) | Lokality: Rakousko, Sankt Anton am Arlberg /i interiér/ (Rakousko)
***
BEROUN:
ZEJTRA NAPOŘÁD (400555) | Lokality: Česká republika, Beroun (Česká republika)
RUDÝ KAPITÁN (400698) | Lokality: Beroun (Česká republika)
ČERTÍ BRKO (401838) | Lokality: Beroun (Česká republika), lom Alkazar (Beroun)
POSLOUCHEJ (402077) | Lokality: Chomutov /a okolí/, Nechranice /a okolí/, Beroun, Hostim (Beroun), Hředle u Berouna (Beroun)
CHLAP NA STŘÍDAČKU (402037) | Lokality: Černošice, Beroun, Wagnerovo náměstí (Beroun)
DRAČÍ PRINCEZNA (402241) | Lokality: Koněpruské jeskyně, Beroun, okolí (Beroun)
CHYBY (402143) | Lokality: Beroun (Česká republika)
***
KLADNO:
ROZKOŠ (398432) | Lokality: Jablonec nad Nisou, Zákolany, Kladno, Sládečkovo vlastivědné muzeum (Kladno)
PEPA (401760) | Lokality: Česká republika, Kladno (Česká republika)
HRA (402000) | Lokality: Kladno, Divadelní ulice (Kladno), Ctiborova ulice (Kladno)
MSTITEL (402140) | Lokality: Kladno (Česká republika), vrakoviště (Kladno)
GUMP – PES, KTERÝ NAUČIL LIDI ŽÍT (402147) | Lokality: Kladno, Slánská ulice (Kladno)
OKUPACE (402157) | Lokality: Kladno, bývalá továrna Poldi (Kladno)
MĚSTO (402235) | Lokality: Kladno, Vančurova ulice (Kladno)
***
ZLÍN:
DOMÁCÍ PÉČE (400580) | Lokality: Zlín (Česká republika), Krajská nemocnice Zlín (Zlín)
ÚSMĚVY SMUTNÝCH MUŽŮ (401749) | Lokality: Zlín (Česká republika), Kudlov (Zlín)
MŮJ PŘÍBĚH (402042) | Lokality: Zlín, Vavrečkova ulice (Zlín)
HODINÁŘŮV UČEŇ (401938) | Lokality: Český Krumlov, Zlín, okolí (Zlín)
SMEČKA (402099) | Lokality: Zlín, panoráma (Zlín), Březnická ulice (Zlín), Broučkova ulice (Zlín), ulice Za Úvozem (Zlín), Luční ulice (Zlín), Jižní Svahy (Zlín)
ZPRÁVA O ZÁCHRANĚ MRTVÉHO (402179) | Lokality: Zlín, Havlíčkovo nábřeží (Zlín), Krajská nemocnice Tomáše Bati /interiér/ (Zlín)
ATLAS PTÁKŮ (402154) | Lokality: Zlín (Česká republika), Havlíčkovo nábřeží (Zlín)
***
HRADEC KRÁLOVÉ:
GANGSTER KA: AFRIČAN (400868) | Lokality: Hradec Králové (Česká republika)
MILADA (401275) | Lokality: Hradec Králové, okolí (Hradec Králové)
BÁBA Z LEDU (401257) | Lokality: Hradec Králové (Česká republika)
ZLATÝ PODRAZ (401841) | Lokality: Hradec Králové, nádraží (Hradec Králové)
NARUŠITEL (401858) | Lokality: Hradec Králové, Hradební ulice (Hradec Králové)
V ZAJETÍ SÍTĚ (401999) | Lokality: Hradec Králové, Piletická ulice (Hradec Králové)
***
ITÁLIE:
KRÁSKA V NESNÁZÍCH (37360) | Lokality: Itálie
MEDVÍDEK (51760) | Lokality: Itálie, Řím (Itálie)
SKOKAN (401277) | Lokality: Itálie, Janov (Itálie), Řím (Itálie), Sabaudia (Itálie)
VŠECHNO NEBO NIC (401720) | Lokality: Itálie, Friuli (Itálie)
KŘIŽÁČEK (201708) | Lokality: Itálie, Apulie (Itálie), Gargano, Fasano, Ostuni, Altamura, Gallipoli, Kalábrie (Itálie), Sardinie (Itálie)
ALENKA V ZEMI ZÁZRAKŮ (401746) | Lokality: Itálie, Benátky /Venezia/ (Itálie), Chioggia (Itálie), Caorle (Itálie), Řím /Roma/ (Itálie)
***
LIBEREC:
KREV ZMIZELÉHO (36420) | Lokality: Česká republika, Liberec (Česká republika)
KŘÍDLA VÁNOC (398421) | Lokality: Liberec
LÍBÁNKY (398422) | Lokality: Liberec
LOVCI A OBĚTI (400587) | Lokality: Liberec
MILADA (401275) | Lokality: Liberec, Liberecká radnice /interiér/ (Liberec)
KRYŠTOF (402155) | Lokality: Liberec (Česká republika), Horní Růžodol (Liberec), nádraží (Liberec)
***
MLADÁ BOLESLAV:
LÍDA BAAROVÁ (400696) | Lokality: Mladá Boleslav (Česká republika), Viničná ulice (Mladá Boleslav)
MILADA (401275) | Lokality: Mladá Boleslav, Viničná ulice (Mladá Boleslav)
ZLATÝ PODRAZ (401841) | Lokality: Mladá Boleslav, Viničná ulice (Mladá Boleslav), Palackého ulice (Mladá Boleslav)
AMNESTIE (401937) | Lokality: Česká republika, Mladá Boleslav (Česká republika), Viničná ulice (Mladá Boleslav)
ŠARLATÁN (402092) | Lokality: Mladá Boleslav, Viničná ulice (Mladá Boleslav), náměstí Republiky (Mladá Boleslav)
ATLAS PTÁKŮ (402154) | Lokality: Mladá Boleslav (Česká republika), náměstí Republiky (Mladá Boleslav)
***
OLOMOUC:
RUDÝ KAPITÁN (400698) | Lokality: Olomouc (Česká republika)
MILUJI TĚ MODŘE (401205) | Lokality: Olomouc (Česká republika)
KVARTETO (401673) | Lokality: Olomouc, Univerzitní ulice (Olomouc), Kosinova ulice (Olomouc), Dolní náměstí (Olomouc), Uhelná ulice (Olomouc), Ztracená ulice (Olomouc), Horní náměstí (Olomouc), Michalská ulice (Olomouc), Sušilovo náměstí (Olomouc), Palackého ulice (Olomouc), třída 1. máje (Olomouc), Václavské náměstí (Olomouc), Přemyslovský palác (Olomouc), Křížkovského ulice (Olomouc), Vojenská nemocnice (Olomouc), Ústřední hřbitov Neředín (Olomouc), Moravské divadlo Olomouc (Olomouc), ulice 28. října (Olomouc), Denisova ulice (Olomouc), Pekařská ulice (Olomouc), Opletalova ulice (Olomouc)
PŘÍPAD MRTVÉHO NEBOŽTÍKA (402009) | Lokality: Olomouc, ulice (Olomouc), Křížkovského ulice (Olomouc), Univerzitní ulice (Olomouc), Hněvotínská ulice (Olomouc), Fischerova ulice (Olomouc), Norská ulice (Olomouc), ulice 1. máje (Olomouc)
ZPRÁVA O ZÁCHRANĚ MRTVÉHO (402179) | Lokality: Olomouc, ulice I. P. Pavlova (Olomouc), Fakultní nemocnice Olomouc /i interiér/ (Olomouc)
VELKÁ PREMIÉRA (402234) | Lokality: Olomouc, ulice (Olomouc), hlavní nádraží /i interiér/ (Olomouc), Dolní náměstí (Olomouc), náměstí Republiky (Olomouc), Denisova ulice (Olomouc), Svatý Kopeček (Olomouc), ulice 17. listopadu (Olomouc), Bezručovy sady (Olomouc), Libušina ulice (Olomouc), Bendlova ulice (Olomouc), ulice 1. máje (Olomouc)
***
POLSKO:
„24“ (5478) | Lokality: Polsko
KREV ZMIZELÉHO (36420) | Lokality: Polsko, přírodní rezervace Leba (Polsko)
JÁ, OLGA HEPNAROVÁ (400761) | Lokality: Polsko, Kladsko /Kłodzko/ (Polsko), Nová Ruda /Nowa Ruda/ (Polsko), Vratislav /Wrocław/ (Polsko)
RUDÝ KAPITÁN (400698) | Lokality: Krakov (Polsko)
ODBORNÝ DOHLED NAD VÝKLADEM SNU (401766) | Lokality: Polsko, Bogatyně /Bogatynia/ (Polsko)
NABARVENÉ PTÁČE (401962) | Lokality: Świebodzice (Polsko), Svalovičy /a okolí/ (Polsko)
***
PRAHA A OKOLÍ:
KRÁSKA V NESNÁZÍCH (37360) | Lokality: Česká republika, Praha a okolí (Česká republika)
MEDVÍDEK (51760) | Lokality: Česká republika, Praha a okolí (Česká republika)
U MĚ DOBRÝ (55114) | Lokality: Praha a okolí
OBČANSKÝ PRŮKAZ (103354) | Lokality: Praha a okolí
HODINOVÝ MANŽEL (400565) | Lokality: Praha a okolí (Česká republika)
TAXI 121 (400791) | Lokality: Praha a okolí
***
VYSOČANY:
KAREL, JÁ A TY (402006) | Lokality: ulice U Elektry (Vysočany), Bleší trhy /interiér/ (Vysočany)
SMEČKA (402099) | Lokality: Poděbradská ulice (Vysočany)
ŠTĚSTÍ JE KRÁSNÁ VĚC (402100) | Lokality: Kolbenova ulice (Vysočany)
VYŠEHRAD: SERYJÁL (402090) | Lokality: Podkovářská ulice (Vysočany)
MĚSTO (402235) | Lokality: ulice Na Jetelce (Vysočany), ulice U Vinných sklepů (Vysočany), Českomoravská ulice (Vysočany)
VYŠEHRAD FYLM (402232) | Lokality: Poděbradská ulice (Vysočany)
***
FRANCIE:
NIKDY NEJSME SAMI (400718) | Lokality: Francie, Le Havre (Francie)
ANI VE SNU! (400717) | Lokality: Francie, Etretat (Francie), Normandie (Francie)
PRÁZDNINY V PROVENCE (401137) | Lokality: Francie, Var (Francie), Provence-Alpes-Côte d’Azur – Six-Fours-les-Plages (Francie), Sanary (Francie), vinařství Grand Boise à Trets (Francie), La Cadiere d’Azur (Francie)
VLK Z KRÁLOVSKÝCH VINOHRAD (400951) | Lokality: Francie, Cannes (Francie)
SKOKAN (401277) | Lokality: Francie, region Comté (Francie), Cannes (Francie)
***
NĚMECKO:
NÁVRAT ČÁPŮ (56407) | Lokality: Německo, Frankfurt nad Mohanem (Německo)
FAIR PLAY (400561) | Lokality: Německo, Drážďany (Německo), Saská Kamenice (Německo)
LÍDA BAAROVÁ (400696) | Lokality: Německo, Berlín (Německo), Obersalzberg (Německo)
UZLY A POMERANČE (402004) | Lokality: Německo, Johanngeorgenstadt (Německo), Žitava /Zittau/ (Německo), Großschönau (Německo), Ojbín /Oybin/ (Německo)
BUDIŽ SVĚTLO (401925) | Lokality: Německo, Schwangau (Německo), zámek Neuschwanstein (Německo)
***
OSTRAVA:
POUTA (80516) | Lokality: Ostrava (Česká republika)
ISABEL (398413) | Lokality: Ostrava, Národní divadlo moravskoslezské – Divadlo Antonína Dvořáka (Ostrava), Divadlo Petra Bezruče (Ostrava), Fifejdy (Ostrava), Nová radnice (Ostrava), Masarykovo náměstí (Ostrava), Jurečkova ulice (Ostrava), Zábřeh (Ostrava), Slezská Ostrava (Ostrava), Moravská Ostrava (Ostrava), Nová Ves (Ostrava), Vítkovice (Ostrava), podzemí (Ostrava)
ZEJTRA NAPOŘÁD (400555) | Lokality: Ostrava (Česká republika)
PŘES PRSTY (401981) | Lokality: Ostrava, Vítkovice (Ostrava)
ŽENSKÁ POMSTA (402078) | Lokality: Ostrava, Nákladní ulice (Ostrava), Hornopolní ulice (Ostrava), ulice Dr. Šmerala (Ostrava), Vítkovice (Ostrava), Stavební ulice (Ostrava)
***
PLZEŇ:
ZEJTRA NAPOŘÁD (400555) | Lokality: Plzeň (Česká republika)
BÁBA Z LEDU (401257) | Lokality: Plzeň (Česká republika), rybník Bolevák (Plzeň)
SKLENĚNÝ POKOJ (401929) | Lokality: Plzeň (Česká republika), Klatovská třída (Plzeň)
PRVOK, ŠAMPÓN, TEČKA A KAREL (402144) | Lokality: Plzeň, Anglické nábřeží (Plzeň), Šeříková ulice (Plzeň), ulice U Letiště (Plzeň)
KRYŠTOF (402155) | Lokality: Plzeň (Česká republika), ulice Kopeckého sady (Plzeň)
***
ÚSTÍ NAD LABEM:
TENKRÁT V RÁJI (400994) | Lokality: Ústí nad Labem (Česká republika)
SKOKAN (401277) | Lokality: Česká republika, Ústí nad Labem (Česká republika)
JAN PALACH (401799) | Lokality: Ústí nad Labem, Velká Hradební ulice (Ústí nad Labem)
ÚSMĚVY SMUTNÝCH MUŽŮ (401749) | Lokality: Ústí nad Labem (Česká republika)
NA KRÁTKO (401757) | Lokality: Ústí nad Labem (Česká republika), Mírová ulice (Ústí nad Labem), základní škola Mírová (Ústí nad Labem)
***
BRDY:
TOMAN (401772) | Lokality: Česká republika, Brdy (Česká republika)
NABARVENÉ PTÁČE (401962) | Lokality: Brdy (Česká republika), pěchotní srub Jordán (Brdy)
KRYŠTOF (402155) | Lokality: Brdy (Česká republika)
SHOKY & MORTHY: POSLEDNÍ VELKÁ AKCE (402158) | Lokality: Brdy, Baština (Brdy)
***
DOKSY:
PRACH (400770) | Lokality: Doksy, autobusové nádraží (Doksy)
LÍDA BAAROVÁ (400696) | Lokality: Doksy (Česká republika), Máchovo jezero (Doksy), Staré Splavy (Doksy)
ÚSMĚVY SMUTNÝCH MUŽŮ (401749) | Lokality: Doksy (Česká republika)
HASTRMAN (401755) | Lokality: Holany a okolí, Doksy, Máchovo jezero (Doksy)
***
JIZERSKÉ HORY:
ZATRACENÍ (13015) | Lokality: Jizerské hory
KREV ZMIZELÉHO (36420) | Lokality: Jizerské hory (Česká republika)
TENKRÁT V RÁJI (400994) | Lokality: Jizerské hory (Česká republika), Šámalova chata (Jizerské hory)
HODINÁŘŮV UČEŇ (401938) | Lokality: Jizerské hory
***
KARLOVY VARY:
VLK Z KRÁLOVSKÝCH VINOHRAD (400951) | Lokality: Karlovy Vary (Česká republika), Mírové náměstí (Karlovy Vary), Mariánskolázeňská ulice (Karlovy Vary), ulice I. P. Pavlova (Karlovy Vary)
PŘÁNÍ K MÁNÍ (401732) | Lokality: Karlovy Vary, hotel Imperial (Karlovy Vary), Národní dům (Karlovy Vary)
STAŘÍCI (401990) | Lokality: Karlovy Vary, letiště /interiér/ (Karlovy Vary)
ZBOŽŇOVANÝ (402183) | Lokality: Karlovy Vary
***
KOLÍN:
GANGSTER KA (400582) | Lokality: Kolín (Česká republika)
GANGSTER KA: AFRIČAN (400868) | Lokality: Kolín (Česká republika)
ATLAS PTÁKŮ (402154) | Lokality: Kolín (Česká republika), panorama (Kolín), Rybářská ulice (Kolín), Ovčárecká ulice (Kolín)
JAN ŽIŽKA (402240) | Lokality: Kolín, Brandlova ulice (Kolín)
***
KOUŘIM:
DEŠŤOVÁ VÍLA (44393) | Lokality: Česká republika, Kouřim (Česká republika)
HASTRMAN (401755) | Lokality: Kouřim, Muzeum lidových staveb /skanzen/ (Kouřim)
TÁTOVA VOLHA (401758) | Lokality: Česká republika, Kouřim (Česká republika)
TAJEMSTVÍ STARÉ BAMBITKY 2 (402174) | Lokality: zámek Mníšek pod Brdy, hrad Jindřichův Hradec, zámek Jindřichův Hradec, Kouřim, Muzeum lidových staveb (Kouřim)
***
MIKULOV:
TAŤKA (400710) | Lokality: Mikulov
CESTA DO ŘÍMA (400992) | Lokality: Králův Dvůr, Dolní Dunajovice, Mikulov, Svatý kopeček (Mikulov)
ALENKA V ZEMI ZÁZRAKŮ (401746) | Lokality: Mikulov (Česká republika), panorama (Mikulov), Svatý kopeček (Mikulov)
3BOBULE (402068) | Lokality: Klentnice, Sirotčí hrad, Mikulov, amfiteátr (Mikulov)
***
MĚLNÍK:
MANŽEL NA HODINU (401145) | Lokality: Černošice, Řitka, Mělník, Olešno (Mělník)
NA KRÁTKO (401757) | Lokality: Mělník (Česká republika)
TÁTOVA VOLHA (401758) | Lokality: Mělník (Česká republika)
MODELÁŘ (402079) | Lokality: Mělník (Česká republika), přístav (Mělník), ulice Celní (Mělník)
***
NÁDRAŽNÍ ULICE:
JAKO Z FILMU (401239) | Lokality: Nová perla /hala bývalé papírny/ (Nádražní ulice)
PREZIDENT BLANÍK (401730) | Lokality: Bistro U Veselé kozy /interiér/ (Nádražní ulice)
DARIA (402096) | Lokality: Papírny /interiér/ (Nádražní ulice)
PRVOK, ŠAMPÓN, TEČKA A KAREL (402144) | Lokality: restaurace Potrefená husa /interiér/ (Nádražní ulice)
***
PŘEROV NAD LABEM:
DEŠŤOVÁ VÍLA (44393) | Lokality: Přerov nad Labem (Česká republika)
ČERTOVINY (401741) | Lokality: Přerov nad Labem, skanzen (Přerov nad Labem)
ZAKLETÉ PÍRKO (402047) | Lokality: Blanský les, Přerov nad Labem, skanzen (Přerov nad Labem)
TAJEMSTVÍ STARÉ BAMBITKY 2 (402174) | Lokality: Přerov nad Labem, Polabské národopisné muzeum (Přerov nad Labem)
***
PŘÍBRAM:
KŘÍDLA VÁNOC (398421) | Lokality: Příbram, oblastní nemocnice (Příbram)
ZLODĚJI ZELENÝCH KONÍ (400792) | Lokality: Chlum u Třeboně, Cep, Majdalena, Nesměň, Matná, Příbram, Divadlo A. Dvořáka Příbram (Příbram)
ŽENY V BĚHU (401853) | Lokality: Příbram, letiště (Příbram)
CHYBY (402143) | Lokality: Česká republika, Příbram (Česká republika)
***
SLAPY:
ABSENCE BLÍZKOSTI (401273) | Lokality: Slapy, vodní nádrž (Slapy)
ZLATÝ PODRAZ (401841) | Lokality: Slapy, zámek (Slapy)
TOMAN (401772) | Lokality: Slapy (Česká republika), zámek /i interiér/ (Slapy)
NABARVENÉ PTÁČE (401962) | Lokality: Slapy (Česká republika)
***
VELTRUSY:
ZAHRADNICTVÍ: RODINNÝ PŘÍTEL (401671) | Lokality: Veltrusy (Česká republika), zámek /skleníky/ (Veltrusy)
ZAHRADNICTVÍ: NÁPADNÍK (401672) | Lokality: Veltrusy (Česká republika), zámek /skleníky/ (Veltrusy)
ZAHRADNICTVÍ: DEZERTÉR (401670) | Lokality: Veltrusy (Česká republika), zámek (Veltrusy)
NABARVENÉ PTÁČE (401962) | Lokality: Veltrusy (Česká republika), Smetanova ulice (Veltrusy)
***

Místa v Praze:

In [9]:
hcf[hcf["Město"] == "Praha"].groupby("Lokace")["Film"].nunique().nlargest(50)

Lokace
Česká republika, Praha (Česká republika)    45
Nové Město (Praha)                          43
Vltava (Praha)                              29
Vinohrady (Praha)                           26
Žižkov (Praha)                              25
Staré Město (Praha)                         24
Malá Strana (Praha)                         23
Praha (Česká republika)                     20
Hradčany (Praha)                            19
Bubeneč (Praha)                             18
Holešovice (Praha)                          18
Smíchov (Praha)                             17
Dejvice (Praha)                             15
Nusle (Praha)                               15
Václavské náměstí (Nové Město)              15
Karlín (Praha)                              12
Josefov (Praha)                             11
Podolí (Praha)                              10
Praha, Vltava (Praha)                       10
Ruzyně (Praha)                               9
Mánesův most (Vltava)                        8
Pernerova ulice (Karlín)                     8
Pražský hrad (Hradčany)                      8
Karlův most (Vltava)                         7
Krč (Praha)                                  7
Letná (Praha)                                7
Národní třída (Nové Město)                   7
Praha                                        7
Vršovice (Praha)                             7
Vysočany (Praha)                             7
Vyšehrad (Praha)                             7
Bohnice (Praha)                              6
Hlavní nádraží (Nové Město)                  6
Libeň (Praha)                                6
Pankrác (Praha)                              6
Praha, panorama (Praha)                      6
Strašnice (Praha)                            6
most Legií (Vltava)                          6
Břevnov (Praha)                              5
Koulova ulice (Dejvice)                      5
Letňany (Praha)                              5
Nuselský most (Praha)                        5
Praha, Nové Město (Praha)                    5
Střešovice (Praha)                           5
náměstí Curieových (Staré Město)             5
náměstí Jana Palacha (Josefov)               5
náměstí Svobody (Bubeneč)                    5
Hlubočepy (Praha)                            4
Kbely (Praha)                                4
Klánovice (Praha)                            4
Name: Film, dtype: int64

## Rodiště herců a hereček

Všechny filmy všech délek a typů.

In [10]:
top100 = df.explode("Hrají").groupby("Hrají")["Film"].nunique().nlargest(100).index.to_list()

In [11]:
top500 = df.explode("Hrají").groupby("Hrají")["Film"].nunique().nlargest(500).index.to_list()

Města podle toho, kolik se v nich narodilo ze 100 nejobsazovanějších herců a hereček:

In [12]:
persony[persony["Jméno"].isin(top100)].groupby("Město narození")["Jméno"].nunique().nlargest(10)

Město narození
Praha                         51
Plzeň                          5
Pelhřimov                      3
Jičín                          2
Kutná Hora                     2
Pardubice                      2
Adamov u Českých Budějovic     1
Bozkov u Semil                 1
Brno                           1
Buštěhrad u Kladna             1
Name: Jméno, dtype: int64

### Plzeňáci z top 100

In [13]:
persony[(persony["Jméno"].isin(top100) & (persony["Město narození"] == "Plzeň"))][["Jméno","Rok narození"]]

                             Jméno  Rok narození
4775    František Kovářík (126912)        1886.0
5166      Růžena Šlemrová (127282)        1886.0
21528      Jindřich Plachta (5829)        1899.0
24356  František Kreuzmann (75624)        1895.0
27480          Ota Motyčka (81341)        1899.0

### Pelhřimováci z top 100

In [14]:
persony[(persony["Jméno"].isin(top100) & (persony["Město narození"] == "Pelhřimov"))][["Jméno","Rok narození"]]

                       Jméno  Rok narození
13821     Karel Hábl (27177)        1936.0
19618        Jiří Lír (4926)        1923.0
32334  Lubomír Lipský (9728)        1923.0

Města podle toho, kolik se v nich narodilo z 500 nejobsazovanějších herců a hereček:

In [15]:
persony[persony["Jméno"].isin(top500)].groupby("Město narození")["Jméno"].nunique().nlargest(40)

Město narození
Praha                                 223
Plzeň                                  20
Brno                                   10
České Budějovice                        7
Zlín                                    6
Hradec Králové                          5
Kutná Hora                              4
Ostrava                                 4
Pardubice                               4
Třebíč                                  4
Kroměříž                                3
Liberec                                 3
Mladá Boleslav                          3
Pelhřimov                               3
Prostějov                               3
Příbram                                 3
Bělá pod Bezdězem                       2
Dvůr Králové nad Labem                  2
Havlíčkův Brod                          2
Holice                                  2
Horní Suchá u Karviné                   2
Hořice v Podkrkonoší                    2
Jihlava                                 2
Jičín                                   2
Nová Včelnice u Kamenice nad Lipou      2
Olomouc                                 2
Vídeň                                   2
Úvaly u Prahy                           2
Adamov u Českých Budějovic              1
Baumgartenberg u Mauthausenu            1
Benešov u Prahy                         1
Beroun                                  1
Blovice u Plzně                         1
Bohdaneč u Pardubic                     1
Boskovice                               1
Bozkov u Semil                          1
Brandýs nad Labem                       1
Bratřejov u Sedlčan                     1
Buštěhrad u Kladna                      1
Běchovice u Prahy                       1
Name: Jméno, dtype: int64

In [16]:
persony[(persony["Jméno"].isin(top500) & (persony["Město narození"] == "Nová Včelnice u Kamenice nad Lipou"))][["Jméno","Rok narození"]]

                             Jméno  Rok narození
7356          Luděk Munzar (12942)        1933.0
19510  Rudolf Hrušínský st. (4842)        1920.0

In [17]:
persony[(persony["Jméno"].isin(top500) & (persony["Město narození"] == "Bělá pod Bezdězem"))][["Jméno","Rok narození"]]

                      Jméno  Rok narození
4274     Jan Maška (126431)        1921.0
17111  Václav Trégl (35224)        1902.0

In [18]:
persony[(persony["Jméno"].isin(top500) & (persony["Město narození"] == "Hořice v Podkrkonoší"))][["Jméno","Rok narození"]]

                        Jméno  Rok narození
5376   Alois Dvorský (127491)        1883.0
20244  Stanislav Fišer (5344)        1931.0

In [19]:
persony[(persony["Jméno"].isin(top500) & (persony["Město narození"] == "Holice"))][["Jméno","Rok narození"]][["Jméno","Rok narození"]]

                         Jméno  Rok narození
1985          Jan Kačer (1165)        1936.0
17533  Václav Lohniský (36488)        1920.0

In [20]:
persony[(persony["Jméno"].isin(top500) & (persony["Město narození"] == "Úvaly u Prahy"))][["Jméno","Rok narození"]]

                       Jméno  Rok narození
20685  Josef Střecha (55613)        1907.0
26363       Oleg Reif (7964)        1928.0

In [21]:
persony[(persony["Jméno"].isin(top500) & (persony["Město narození"] == "Horní Suchá u Karviné"))][["Jméno","Rok narození"]]

                           Jméno  Rok narození
14641  Bronislav Poloczek (2877)        1939.0
20102      Marie Glázrová (5247)        1911.0

### Úmrtí

Místa úmrtí stovky nejobsazovanějších:

In [22]:
persony[persony["Jméno"].isin(top500)].groupby("Město úmrtí")["Jméno"].nunique().nlargest(40)

Město úmrtí
Praha                               338
Brno                                  5
Plzeň                                 5
Mělník                                3
Nová Ves pod Pleší                    3
Bratislava                            2
Olomouc                               2
Říčany u Prahy                        2
Bořanovice u Prahy                    1
Brandýs nad Labem                     1
Hamburk                               1
Hollenstedt                           1
Hostivice u Prahy                     1
Houštka u Mladé Boleslavi             1
Hradec Králové                        1
Jilemnice                             1
Kalifornie                            1
Karlovy Vary                          1
Kladno                                1
Kralupy nad Vltavou                   1
Kytín                                 1
Letovice u Blanska                    1
Liberec                               1
Libochovice u Roudnice nad Labem      1
Mladá Vožice u Tábora                 1
Mukařov u Prahy                       1
Ostrava                               1
Pardubice                             1
Poděbrady                             1
Písek                                 1
Příbram                               1
Slunečná u České Lípy                 1
Split                                 1
Svojšice u Kolína                     1
Vrané nad Vltavou                     1
Vrchlabí                              1
Winnipeg                              1
Zlín                                  1
Záhřeb                                1
koncentrační tábor Terezín            1
Name: Jméno, dtype: int64

Kdo umřel v Nové vsi:

In [44]:
persony[(persony["Jméno"].isin(top500) & (persony["Město úmrtí"] == "Nová Ves pod Pleší"))][["Jméno","Rok úmrtí"]]

                        Jméno  Rok úmrtí
797         Josef Somr (1054)     2022.0
13887  Věra Kalendová (27289)     2003.0
17893  Vladimír Brabec (3858)     2017.0

## Rodiště režisérů

Stovka nejproduktivnějších režisérů:

In [45]:
top100r = df.explode("Režie").groupby("Režie")["Film"].nunique().nlargest(100).index.to_list()

In [46]:
persony[persony["Jméno"].isin(top100r)].groupby("Město narození")["Jméno"].nunique().nlargest(40)

Město narození
Praha                          41
Brno                            3
Kladno                          3
Plzeň                           3
Ostrava                         2
Prostějov                       2
České Budějovice                2
Český Těšín                     2
Berlín                          1
Bratislava                      1
Březové Hory u Příbrami         1
Chrudim                         1
Dobrošov u Náchoda              1
Dobřany                         1
Dolní Lukavice                  1
Dolní Štěpanice u Jilemnice     1
Hradec Králové                  1
Karlovy Vary                    1
Katovice u Strakonic            1
Kelč u Valašského Meziříčí      1
Kežmarok                        1
Ledeč nad Sázavou               1
Lomnice nad Popelkou            1
Lublaň                          1
Michalovce u Humenné            1
Mladá Boleslav                  1
Moravské Budějovice             1
Moskva                          1
Mělník                          1
Náchod                          1
Nýřany u Plzně                  1
Opava                           1
Pelhřimov                       1
Piešťany                        1
Písek                           1
Sarajevo                        1
Strakonice                      1
Sušice na Šumavě                1
Tišnov                          1
Turnov                          1
Name: Jméno, dtype: int64

In [47]:
persony[(persony["Jméno"].isin(top100r)) & (persony["Město narození"] == "Kladno")][["Jméno","Rok narození"]]

                        Jméno  Rok narození
9840      Jiří Svoboda (1703)        1945.0
19627    Zdenek Sirový (4935)        1932.0
25975  Antonín Kachlík (7880)        1923.0

In [48]:
persony[(persony["Jméno"].isin(top100r)) & (persony["Město narození"] == "Český Těšín")][["Jméno","Rok narození"]]

                         Jméno  Rok narození
17355     Milan Cieslar (3593)        1960.0
20011  František Vláčil (5191)        1924.0