In [20]:
import os
import json
import pandas as pd
from src.gender import gender
from src.vycisti import vycisti
from src.tabulka import tabulka
pd.set_option('display.max_columns', None)
with open(os.path.join("data_fixes", "opravy.json"), encoding="utf-8") as opravy:
    opravy = json.loads(opravy.read())
with open(os.path.join("data_fixes", "seznamy.json"), encoding="utf-8") as seznamy:
    seznamy = json.loads(seznamy.read())
with open(os.path.join("data_fixes", "zeny.json"), encoding="utf-8") as zeny:
    zeny = json.loads(zeny.read())
with open(os.path.join("data_fixes", "nelide.json"), encoding="utf-8") as nelide:
    nelide = json.loads(nelide.read())
df = vycisti(pd.read_json(os.path.join("data", "filmy.json")),opravy)
hcf = df[df["Délka"] == "dlouhometrážní"].explode("Typologie")
hcf = hcf[hcf["Typologie"] == "hraný"]

2023/06/30 12:18:08 z 4555 řádků odstraněno 133. Aktuální dataframe má 4422 řádků.

In [21]:
vypraveci = df.explode("Komentář")
vypraveci.groupby("Komentář")["Film"].nunique().nlargest()

Komentář
Karel Höger (38146)          24
Otakar Brousek st. (3390)    18
Václav Voska (76149)         16
Jan Werich (1287)            15
Antonín Zíb (99716)          14
Name: Film, dtype: int64

In [22]:
vypraveci[vypraveci["Komentář"] == "Karel Höger (38146)"][["Film","Copyright"]].drop_duplicates()

                                         Film  Copyright
983           Čtyři lidé – jedna řeč (395857)       1939
1322             Staré pověsti české (398728)       1952
1327                Červené tulipány (396158)       1952
1352    Večery s Jindřichem Plachtou (402135)       1953
1375                           Matúš (396160)       1953
1390                   Stříbrný vítr (396183)       1954
1391                      Dny a noci (396181)       1954
1397            Cesta vede do Tibetu (401846)       1954
1462               Dědeček automobil (396265)       1956
1498                   Pasáček vepřů (398789)       1957
1510         Schůzka o půl čtvrté... (396276)       1957
1539                       Hry a sny (396335)       1958
1624                     Psí pohádka (398818)       1959
1637                Vláček Kolejáček (398824)       1959
1648                 Jak se chovati? (396422)       1960
1678  Národní umělec Zdeněk Štěpánek (401972)       1960
1724               Václavské náměstí (401906)       1961
1736                         Florián (396458)       1961
1740                Pošťácká pohádka (398877)       1961
1821               Doktorská pohádka (398913)       1963
1884             Loupežnická pohádka (398955)       1964
1907       Fuga na černých klávesách (396566)       1964
1959             Otýlie a 1580 kaněk (399001)       1965
2396       Třicet panen a Pythagoras (396982)       1973

In [23]:
hraji_zanry = df[["Film","Žánr","Hrají"]].explode("Žánr").explode("Hrají")

In [24]:
hraji_zanry[hraji_zanry["Žánr"] == "erotický"].groupby("Hrají")["Film"].nunique().nlargest(20)

Hrají
Jiří Pomeje (3876)           3
Martina Adamcová (28466)     3
Bronislav Poloczek (2877)    2
Dana Homolová (8258)         2
Josef Bradna (84075)         2
Josef Nedorost (6137)        2
Karel Brožek (75976)         2
Kateřina Hubálková           2
Lenka Blažejová (76296)      2
Michaela Kuklová (3313)      2
Oldřich Vízner (8257)        2
Slávek Boura                 2
Adam Jánošík (19613)         1
Andrea Bogušovská (8227)     1
Andrea Vrbovská (19617)      1
Beata Greneche (19609)       1
Blanka Lormanová (14388)     1
Dagmar Bláhová (2533)        1
Dana Syslová (52427)         1
Daniel Margolius (12948)     1
Name: Film, dtype: int64

In [25]:
df[df["Film"].str.lower().str.contains("sex")][["Film","Copyright"]]

                                                   Film  Copyright
331                                   Sextánka (395418)       1927
797                                   Sextánka (395725)       1936
3032  Co všechno chcete vědět o sexu a bojíte se to ...       1988
3642                                     O sexu (66095)       2008

In [26]:
hraji = df.explode("Hrají")

In [27]:
hraji[hraji["Hrají"].str.lower().str.contains("goril",na=False)]["Film"].nunique()

1

In [28]:
hraji[hraji["Hrají"].str.lower().str.contains("šimpanz",na=False)]["Film"].nunique()

5

In [29]:
hraji[hraji["Hrají"].str.lower().str.contains("šimpanz",na=False)]["Film"]

2042                 Jak Sammy o kalhoty přišel (396669)
2050                   Slavný chirurg Dr. Sammy (396677)
2322                       6 medvědů s Cibulkou (396956)
2526    Terezu bych kvůli žádné holce neopustil (397103)
2562                       Hop – a je tu lidoop (397162)
2562                       Hop – a je tu lidoop (397162)
Name: Film, dtype: object

In [30]:
hraji[hraji["Hrají"].str.lower().str.contains("krkave",na=False)]["Film"].nunique()

2

In [31]:
hraji[hraji["Hrají"].str.lower().str.contains("medvěd",na=False)]["Film"].nunique()

3

In [32]:
hraji[hraji["Hrají"].str.lower().str.contains("medvěd",na=False)]["Hrají"]

600       medvěd Viola
2322      medvěd Valoš
2322       medvěd Máša
2322       medvěd Máňa
2322     medvěd Regina
2322      medvěd Džony
2322      medvěd Ilona
3373    medvědice Dáša
Name: Hrají, dtype: object

In [33]:
df[df["Film"].str.lower().str.contains("žen[auěyo]",regex=True,na=False)]["Film"].drop_duplicates().to_list()

['Zlatá žena (395232)',
 'Nepočestná žena (395509)',
 'Žena, která se směje (395526)',
 'Žena, která ví co chce (395636)',
 'Žena na rozcestí (395753)',
 'Žena pod křížem (395754)',
 'Výdělečné ženy (395758)',
 'Ženy u benzinu (395865)',
 'Provdám svou ženu (395948)',
 'Slovo dělá ženu (396142)',
 'Co řekne žena... (396340)',
 'Strašná žena (396633)',
 'Jak se koupe žena (396626)',
 'Ženu ani květinou neuhodíš (396681)',
 'Ženy v ofsajdu (396910)',
 'Aféry mé ženy (396959)',
 'V každém pokoji žena (397043)',
 'Žena pro tři muže (397255)',
 'Oldřich a Božena (397442)',
 'Ženy pro měny (31166)',
 'Román pro ženy (36598)',
 'Ženy mého muže (57023)',
 'Ženy v pokušení (151461)',
 'Zoufalé ženy dělají zoufalé věci (401729)',
 'Ženy v běhu (401853)']

In [34]:
len(df[df["Film"].str.lower().str.contains("žen[auěyo]",regex=True,na=False)]["Film"].drop_duplicates().to_list())

25

In [35]:
df[df["Film"].str.lower().str.contains("kost",regex=True,na=False)]["Film"].drop_duplicates().to_list()

['Svěcení základního kamene jubilejního kostela sv. Antonína v Praze VII. (401708)',
 'Kreslený trikfilm podle orig. obalů mýdla a sice Oxydont, Jass, Lanol, Mýdlo v kostce (398517)',
 'Maličkost (395985)',
 'Slepice a kostelník (396120)',
 'Kostelník (401818)',
 'Síla lidskosti – Nicholas Winton (15871)',
 'Absence blízkosti (401273)']

In [36]:
df[df["Film"].str.lower().str.contains("růže",regex=True,na=False)]["Film"].drop_duplicates().to_list()

['Rytíř Bledé růže (395265)',
 'Divoká růže (395310)',
 'Sněhová Růženka (395301)',
 'Šípková Růženka (398542)',
 'Z růže kvítek (396004)',
 'Poslední růže od Casanovy (396692)',
 'Slaná růže (397361)',
 'Růže pro Algernon (397537)',
 'Kawasakiho růže (118281)']

In [37]:
df[df["Film"].str.lower().str.contains("pís(eň|ní|ni)",regex=True,na=False)]["Film"].drop_duplicates().to_list()

C:\Users\micha\AppData\Local\Temp\ipykernel_9736\2144591843.py:1: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  df[df["Film"].str.lower().str.contains("pís(eň|ní|ni)",regex=True,na=False)]["Film"].drop_duplicates().to_list()

['Píseň lásky (395198)',
 'Píseň života (395340)',
 'Píseň o velké lásce (395567)',
 'Písničkář (395566)',
 'Srdce za písničku (395620)',
 'Píseň pro všechny (398541)',
 'Skřivánčí píseň (395598)',
 'Nová píseň (395681)',
 'Píseň drožkáře (395714)',
 'Jarní písnička (395793)',
 'Píseň podzimu (398592)',
 'Písní k srdci (395895)',
 'Píseň lásky (395912)',
 'Jarní píseň (395996)',
 'Písnička za groš (396150)',
 'Věneček písní (398758)',
 'Lev a písnička (398809)',
 'Otrhaná písnička (400435)',
 'Ta naše písnička česká (396724)',
 'Píseň o stromu a růži (397194)',
 'Píseň nemilovaného (402178)',
 'Pějme píseň dohola (397668)',
 'Ta naše písnička česká II (397682)']

In [38]:
len(df[df["Film"].str.lower().str.contains("pís(eň|ní|ni)",regex=True,na=False)]["Film"].drop_duplicates().to_list())

C:\Users\micha\AppData\Local\Temp\ipykernel_9736\4083951922.py:1: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  len(df[df["Film"].str.lower().str.contains("pís(eň|ní|ni)",regex=True,na=False)]["Film"].drop_duplicates().to_list())

23

In [39]:
df.columns

Index(['Film', 'Země původu', 'Copyright', 'Rok výroby', 'Premiéra', 'Minutáž',
       'Režie', 'Kategorie', 'Žánr', 'Typologie',
       ...
       'Zákazník', 'Vývozní společnost', 'Umělecké vedení', 'Zpěv role',
       'Překlad české verze', 'Rychlost', 'Přístupnost', 'cyklus',
       'Začátek výroby', 'Konec výroby'],
      dtype='object', length=133)

## Extra pro Suchana

In [41]:
profese = seznamy["profese"]

In [43]:
def plose_jednoduse(x):
    seznam = []
    for y in x:
        if y == None:
            pass
        if isinstance(y, str):
            if y not in seznam:
                seznam.append(y)
        if isinstance(y, list):
            for z in y:
                if z not in seznam:
                    seznam.append(z)
    return(seznam)

In [44]:
df["Lidé"] = df[profese].values.tolist()
df["Lidé"] = df["Lidé"].apply(lambda x: plose_jednoduse(x))

In [45]:
lidotabulka = df[["Film","Lidé"]].explode("Lidé")

In [46]:
lidotabulka[lidotabulka["Lidé"].str.contains(" Mirai",na=False)]

Empty DataFrame
Columns: [Film, Lidé]
Index: []

In [56]:
len(lidotabulka[lidotabulka["Lidé"].str.contains("Samková",na=False)])

14

In [57]:
len(lidotabulka[lidotabulka["Lidé"].str.contains("Adamczyková",na=False)])

0

In [58]:
len(lidotabulka[lidotabulka["Lidé"].str.contains("Adamczyk",na=False)])

9

In [59]:
len(lidotabulka[lidotabulka["Lidé"].str.contains("Navrátil",na=False)])

448

In [60]:
len(lidotabulka[lidotabulka["Lidé"].str.contains("Pokorný",na=False)])

266

In [62]:
lidotabulka[lidotabulka["Lidé"].str.contains("Mirai",na=False)]

                     Film            Lidé
4400  Přes prsty (401981)  Mirai Navrátil